<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        />
        <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css"
        />

        <link href="https://webfontworld.github.io/naver/NanumSquare.css" rel="stylesheet" />

        <!-- 아이콘 링크 -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

        <!-- css -->
        <link rel="stylesheet" href="/css/modal.css" />
        <link rel="stylesheet" href="/css/signup.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/profile-upload.css" />

        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/partySearch.css" />
        <link rel="stylesheet" href="/css/profile-upload.css" />
        <link rel="stylesheet" href="/library/datePicker/reset.css" />
        <link rel="stylesheet" href="/library/datePicker/base.css" />
        <link rel="stylesheet" href="/library/datePicker/calendar.css" />
        <link rel="stylesheet" href="/library/datePicker/datePicker.css" />

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"
            defer
        ></script>
        <script src="/library/datePicker/calendar.js" defer></script>
        <script src="/library/datePicker/datePicker.js" defer></script>
        <script src="/library/carousel/carousel.js" defer></script>
        <script src="/js/common.js" defer></script>

        <!-- 다음 주소찾기 -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <title>모아바 | HOMEPARTY</title>
    </head>
    <body>
        <!-- Modalalert-->
        <div
            class="modal text-left"
            id="alertModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="alertModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">알림</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="alertText"></div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-modal btn-confirm"
                            data-dismiss="modal"
                        >
                            확인
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- body -->
        <% if (components === 'main') { %> <%-include('main.ejs') %><% } %> <% if (components
        ==='login') { %> <%-include('auth-login.ejs') %><% } %> <% if (components === 'sign-up')
        {%><%-include('auth-sign-up.ejs') %><% } %> <% if (components === 'profile-upload')
        {%><%-include('auth-profile-upload') %><% } %> <% if (components === 'find-email') {
        %><%-include('auth-find-email.ejs') %><% } %> <% if (components === 'find-password') {
        %><%-include('auth-find-password.ejs') %><% } %> <% if (components === 'authentication') {
        %><%-include('auth-authentication.ejs') %><% } %> <% if (components === 'reset-password') {
        %><%-include('auth-reset-password.ejs') %><% } %> <% if (components === 'user-menu') {
        %><%-include('user-menu.ejs') %><% } %> <% if (components === 'user-edit') {
        %><%-include('user-menu-edit.ejs') %><% } %> <% if (components === 'wish-list') {
        %><%-include('user-menu-wish-list.ejs') %><% } %> <% if (components === 'manage') {
        %><%-include('manage.ejs') %><% } %> <% if (components === 'manage-host') {
        %><%-include('manage-host.ejs') %><% } %> <% if (components === 'manage-guest') {
        %><%-include('manage-guest.ejs') %><% } %> <% if (components === 'manage-history') {
        %><%-include('manage-history.ejs') %><% } %> <% if (components === 'admin-user') {
        %><%-include('admin-user.ejs') %><% } %> <% if (components === 'admin-party') {
        %><%-include('admin-party.ejs') %><% } %> <% if (components === 'admin-review') {
        %><%-include('admin-review.ejs') %><% } %> <% if (components === 'admin-tag') {
        %><%-include('admin-tag.ejs') %><% } %> <% if (components === 'party') {
        %><%-include('party.ejs') %><% } %> <% if (components === 'party-make') {
        %><%-include('party-make.ejs') %><% } %> <% if (components === 'party-host') {
        %><%-include('party-host.ejs') %><% } %> <% if (components === 'party-host-detail') {
        %><%-include('party-host-detail.ejs') %><% } %> <% if (components === 'party-host-massage')
        {%> <%-include('party-host-massage.ejs') %><% } %>
    </body>

    <script>
        // modal alert function
        function customAlert(text, confirmCallback) {
            $('#alertText').text(text);
            $('#alertModal').modal('show');
            if (confirmCallback) {
                $('#alertModal .btn-confirm').click(confirmCallback);
            }
        }
    </script>
</html>
